<br><h1>Toastmasters</h1>

<h2>About Toastmasters International</h2>

<p class=maintext>Since 1924, more than 4 million people around the world have become more confident
speakers and leaders because of their participation in Toastmasters. Through
practice in a safe and supporting environment, more than 270,000 members in 13,000
clubs are developing their communication and leadership skills today.</p>

<p class=maintext>The Toastmasters program offers many benefits that help people in all walks of life. As a result of participating in Toastmasters, you will:</p>

<ul>
<li>Increase your self-confidence</li>
<li>Become a better speaker</li>
<li>Become a better leader</li>
<li>Communicate more effectively</li>
</ul>

<p class=maintext>For more information, please visit <a href="http://www.toastmasters.org" class=bodytext>www.toastmasters.org</a>.</p>

<h2>About District 42</h2>
<p class=maintext>District 42 is a vibrant unit in the Toastmasters International network with more than 2,000 active members spread across 9 divisions and 56 clubs.  The District is focused on promoting communication and leadership principals within the communities and businesses of Alberta and Saskatchewan, Canada.  For more information, please visit <a href="http://www.d42.org" class=bodytext>www.d42.org</a>.</p> 

<h2>Find a Club near You</h2>

<p class=maintext>Want to join a Toastmasters club close to your home or office – or – coming to Calgary and looking to take in a club meeting while you’re here for the convention?  Check out the <a href="http://reports.toastmasters.org/findaclub/default.cfm?Country=Canada" class=bodytext>Find a Club</a> feature on the Toastmasters International site.</p> 
