<br><h1>About Calgary</h1>

<p class="maintext">Welcome to Calgary!</p>
 
<p class="maintext">Calgary Alberta offers tourists a myriad of things to see and do.  Why not extend your stay at the Convention by a few days and see what this City really has to offer?</p> 

<p class="maintext">Rain or shine, some sample things to do in the Calgary Spring include:</p>

<ul class=mainlist>
<li>Visit the new and improved <a href="http://www.sparkscience.ca/" target="_blank" class="bodytext">Calgary Science Centre</a> opened October 29, 2011.</li>
<li>Stroll through the <a href="http://www.calgaryzoo.org/" target="_blank" class="bodytext">Calgary Zoo</a>.</li>
<li>Talk a walk or bike ride along Calgary’s beautiful <a href="http://www.calgary.ca/CSPS/Parks/Pages/Pathways/Pathways-in-Calgary.aspx" target="_blank" class="bodytext">pathways</a>.</li>
<li>See natural wonders in one of the many <a href="http://www.discovercalgary.com/Calgary/SightsAttractions/ParksGardens/" target="_blank" class="bodytext">parks</a>.</li>
<li>Ride to the top of the <a href="http://www.calgarytower.com/" target="_blank" class="bodytext">Calgary Tower</a> for a bird’s eye view of the City and surrounding area.</li>
<li>Take in a local cultural event at venues like 
<a href="http://www.stagewestcalgary.com/shows.html" target="_blank" class="bodytext">Stage West</a>, 
<a href="http://www.theatrecalgary.com/" target="_blank" class="bodytext">Theatre Calgary</a>, 
<a href="http://www.jubilations.ca/jubilations/cal_whatis.html" target="_blank" class="bodytext">Jubilations Dinner Theatre</a> or 
<a href="http://www.loosemoose.com/" target="_blank" class="bodytext">Loose Moose Theatre</a>.</li>
<li>Learn about Alberta’s history at one our many museums like the 
<a href="http://www.glenbow.org/" target="_blank" class="bodytext">Glenbow Museum</a>, 
<a href="http://www.fortcalgary.com/" target="_blank" class="bodytext">Fort Calgary</a>, 
<a href="http://www.heritagepark.ca/" target="_blank" class="bodytext">Heritage Park</a>, 
<a href="http://www.asmac.ab.ca/aerospace/default.asp" target="_blank" class="bodytext">Aero Space Museum</a>, 
<a href="http://www.grainacademymuseum.com/" target="_blank" class="bodytext">Grain Academy Museum</a>, 
<a href="http://themilitarymuseums.ca/" target="_blank" class="bodytext">Military Museums</a> or the 
<a href="http://www.winsportcanada.ca/cop/activities/olympic_hall_of_fame.cfm" target="_blank" class="bodytext">Olympic Hall of Fame and Museum</a>.</li>
</ul>


<p class="maintext">Visit <a href="http://www.visitcalgary.com/ " target="_blank" class="bodytext">Calgary Tourism</a> to find out more.</p>

