<br><h1>Volunteer Application</h1>
<p class=maintext>We are actively recruiting the following volunteer roles for the D42 2012 Spring Convention:</p>


<table style="width: 73%; border-color: #000000; border-width: 0pt; border-style: solid;" border="0">
<col style="width: 20%" />
<col style="width: 40%" />
<col style="width: 40%" />
<tbody>
<tr>
<td><strong><strong><p class=maintext>Role</strong></strong></td>
<td><strong><strong><p class=maintext>Responsibilities/Sample Activities</strong></strong></td>
<td><strong><p class=maintext>Time Commitment</strong></td>
</tr>
<tr>
<td><strong><p class=maintext>Treasurer</p></strong></td>
<td><p class=maintext>Maintain the budget, track actual expenditures, make deposits and generally report on the financial health of the Convention</p></td>
<td>
<p class=maintext>Bi-weekly meetings with the Convention Co-Chairs</p>
<p class=maintext>Monthly meetings with the Convention planning committee and Co-Chairs</p>
<p class=maintext>Banking activities as required</p>
<p class=maintext>Excel spreadsheet updates as required</p></td>
</tr>
<tr>
<td><strong><p class=maintext>Sponsorship Team Lead</p></strong></td>
<td>
<p class=maintext>Assemble a team of volunteers and lead them</p>
<p class=maintext>Prepare a plan for how you will conduct sponsorship for the Convention then execute to the plan with your team</p>
<p class=maintext>Obtain sponsors to support the Convention through donations of funds, services and/or door prizes to be awarded throughout the weekend</p></td>
<td>
<p class=maintext>Monthly meetings with the Convention planning committee and Co-Chairs</p>
<p class=maintext>Regular meetings with your team</p>
<p class=maintext>Plan creation and management as required</p>
<p class=maintext>Sponsor contact and follow up as required</p>
</td>
</tr>
<tr>
<td><strong><strong><p class=maintext>Sponsorship Team Member</p></strong></strong></td>
<td>
<p class=maintext>Support the Sponsorship Team Lead by working to the team plan</p>
<p class=maintext>Obtain sponsors to support the Convention through donations of funds, services and/or door prizes to be awarded throughout the weekend</p>
</td>
<td>&nbsp;
<p class=maintext>Regular meetings with the Sponsorship Team Lead</p>
<p class=maintext>Sponsor contact and follow up as required</p>
<p class=maintext>Assist Facilities Lead with awarding prizes during the Convention</p>
</td>
</tr>
<tr>
<td>&nbsp;<strong><p class=maintext>Scheduler/ Planner</p></strong></td>
<td>&nbsp;
<p class=maintext>Develop the minute-by-minute schedule then develop work plan of tasks required to make the schedule a reality with the Co-Chairs and Team Lead</p>
Maintain the work plan</td>
<td>&nbsp;
<p class=maintext>Bi-weekly meetings with the Convention Co-Chairs</p>
<p class=maintext>Monthly meetings with the Convention planning committee and Co-Chairs</p>
<p class=maintext>Planning &nbsp;and work plan maintenance activities as required</p>
</td>
</tr>
<tr>
<td>&nbsp;<strong><p class=maintext>Hospitality Suite Team Lead</p></strong></td>
<td>&nbsp;
<p class=maintext>Assemble a team of volunteers and lead them</p>
<p class=maintext>Prepare a plan for how you will operate the Hospitality Suite and associated activities then execute to the plan with your team</p>
</td>
<td>&nbsp;
<p class=maintext>Monthly meetings with the Convention planning committee and Co-Chairs</p>
<p class=maintext>Regular meetings with your team</p>
<p class=maintext>Hospitality Suite preparation and day-of activities as required</p>
</td>
</tr>
<tr>
<td>&nbsp;<strong><p class=maintext>Hospitality Suite Team Members</p></strong></td>
<td>&nbsp;
<p class=maintext>Support the Hospitality Suite Team Lead by working to the team plan</p>
Participate in running the Hospitality Suite Friday and/or Saturday night during the Convention</td>
<td>&nbsp;
<p class=maintext>Regular meetings with the Hospitality Suite Team Lead</p>
<p class=maintext>Activities in the Hospitality Suite during the Convention</p>
</td>
</tr>
</tbody>
</table>


<br>
<h2>Sign Me Up!</h2>
<p class=maintext>Do any of these roles or the thought of joining our fun, dynamic team of Convention volunteers excite you?  If you said YES, send us an email at <a href="mailto:ContactUs@D42TakeTheLead.ca?subject=YES! I want to volunteer!" class=bodytext>ContactUs@D42TakeTheLead.ca</a> to let us know what appeals to you and we’ll be in touch within 2 business days.</p>

