<br><h1>Contact Us</h1>
<h2>D42 2012 Fall Convention – Take the Lead</h2> 
<p class=maintext>E-mail:</p>
 <p class=indent><a href="mailto:ContactUs@D42TakeTheLead.ca?subject=Contact from the D42 Fall Conference Website" class=bodytext>ContactUs@D42TakeTheLead.ca</a></p>
<p class=maintext>Surface Mail:</p> 
<p class=indent><b>D42 2012 Spring Convention</b><br>
c/o Susan Cramer<br>
744 Sierra Cres SW<br>
Calgary, Alberta T2W 0P1</p>

