<br><h1>Disclaimer</h1> 

<p class="maintext">The D42 Convention Planning Committee (the Committee) maintains this website to provide information to the internet community.  Such information may be subject to amendment and updating without notice.</p>

<p class="maintext">The information contained in this website is for general information purposes only.  Any reliance you place on such information is strictly at your own risk.</p>

<p class="maintext">In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with the use of this website.</p>

<p class="maintext">Through this website you are able to link to other websites which are not under the control of the Committee.  We have no control over the nature, content and availability of those sites.  The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>

<p class="maintext">Every effort is made to keep this website up and running smoothly.  However, the Committee takes no responsibility for and will not be liable for the website being temporarily unavailable due to technical issues beyond our control.</p>

<h2>Data Protection</h2>
 
<p class="maintext">Any personal information submitted via this website, whether by email or other means, will be used solely by the Committee and will not be disclosed to any third parties.  If you wish to view, amend or delete you personal data please <a href="mailto:ContactUs@D42TakeTheLead.ca?subject=Data Protection Inquiry" class=bodytext>contact us</a>.</p>

