<br><h1>Registration FAQ</h1>


<p class=maintext><b>When can I register?</b><br>
You can register at the 2011 D42 Fall Conference in Lethbridge, Alberta or online with your credit card after November 15.  Watch this site for further updates about online registration opening.</p>

<p class=maintext><b>How will I register?</b><br>
This website contains an electronic form where you can safely and securely conduct electronic transactions with your credit card.  Simply complete the form and we’ll charge your credit card with the registration fee.</p>

<p class=maintext><b>How do I let you know my preferences? </b><br>
You can select which education sessions you wish to attend and let us know about your food preferences at the same time you pay for attending the convention.  Simply mark your selections when submitting your registration form.</p>

<p class=maintext><b>How much does the Convention cost and what’s included in the cost?</b><br>
The cost for the convention is $220 until January 31.  From February 1 through March 31, it’s $250. After April 1, the cost increases to $275.  Registration closes April 30 though so don’t delay.
<br><br>
And if you’re a contest official, a contestant, a speaker, a Convention first-timer or  a volunteer,  have we got a deal for you!  You’re eligible for early bird pricing regardless of when you register.  Make sure you register well before April 30 though as we expect to sell out this event.</p>

<p class=maintext><b>What if I only want to attend a subset of the events planned for this weekend?</b><br>
Your Convention package is very economically priced.  It includes 5 meals, snacks, 3 educational sessions, a sensational keynote who will speak at least 3 times throughout the weekend, the infamous hospitality suite and 2 sensational competitions – not to mention the fun-packed networking activities we have planned for you.  </p>

<p class=maintext><b>Can I cancel my registration?</b><br>
Yes.  Send a written cancellation request before March 31, 2012 to the Convention surface mail address and we’ll be more than happy to issue you a refund less a $25 processing fee when the Convention is over.  We regret that because of commitments made for our venue, we will not be able to issue any refunds after March 31.</p>

<p class=maintext><b>Can non-Toastmaster members attend this event?</b><br>
Yes, everyone is welcome.  The pricing model is the same regardless of whether you belong to a Toastmasters club or not.</p>

<p class=maintext><b>What forms of payment are accepted? </b><br>
Our preferred method of payment is credit card (VISA or Mastercard) via the electronic form you’ll find on the Registration page.  We will also accept payment by cheque if it is received at the surface mail address in the Contact Us section prior to March 31, 2012.</p>

<p class=maintext><b>Do I need to pre-register for the education sessions?</b><br>
Yes, please pre-register.  We’d like to let our education session speakers know in advance approximately how many people will attend their session so they can be better prepared for you.  If you decide once you’re at the convention that you’d like to switch education sessions, accommodations will be made.</p>

<p class=maintext><b>Will the information I provide on the electronic registration form be sold to or shared with any 3rd party?</b><br>
No.  We do not sell, rent, or give your personal information to third parties for any reason. </p>

<p class=maintext><b>Who should I contact if I have further questions or need help with registration?</b><br>
Simply send us an email at <a href="mailto:ContactUs@D42TakeTheLead.ca?subject=Contact from the D42 Fall Conference Website" class=bodytext>ContactUs@D42TakeTheLead.ca</a> and someone will reply to your email within 2 business days. </p>

