<br><h1>Welcome to the District 42 2012 Spring Convention: Take the Lead!</h1>

<p class="maintext">Setting yourself apart from others to assure you are front of mind when opportunities present themselves – whether of a personal or business nature – is never easy.   Making sure that your teams – whether volunteer or paid – are effective in all they do takes work.  Join us May 4-6, 2012 at the District 42 (D42) Spring Convention and we’ll equip you with tools and thought leadership to help you Take the Lead in all you do.</p>

<p class="maintext">Come and experience all that this year’s D42 Spring Convention has to offer – from inspiring keynote presentations and valuable education sessions touching on a variety of critical leadership topics to inspiring competitions sure to leave you wanting more.</p>

<p class="maintext">We expect to SELL OUT, so register early to secure a spot.  Don’t forget to book your accommodation at the Radisson Airport at the same time as those spots are limited too.</p>
 
<p class="maintext">See you May 4, 5, 6 2012 in Calgary!</p>

