<h1>The Planning Team</h1> 
<p class=maintext>It takes significant commitment from dedicated people to bring a convention like this one alive. We’d like to offer our heartfelt thanks to the <a href="http://www.d42tm.org/index.php?option=com_contact&catid=12&Itemid=358" class=bodytext>District 42 Executive</a> for presenting us with this opportunity and to the small army of Calgary-based Toastmasters who have supported this effort.</p>

<p class=maintext>This event’s core planning team is comprised of a number of team leaders whose contributions were supported by numerous individuals.  We’d like to thank them for their tireless effort, and their families and employers for allowing us to borrow their time.</p>

<table border="2" cellpadding="5" width="200">
<tr>
<th>Team Member</th>
<th>Convention Role</th>
</tr> 
<tr><td>Susan Cramer, Christina Kruis</td><td>Co-Chairs</td></tr>
<tr><td>Shelley Miller</td><td>Facilities</td></tr>
<tr><td>Dorothy Jones</td><td>Protocol</td></tr>
<tr><td>Terry Kozylk</td><td>Communications, Marketing</td></tr>
<tr><td>Trudy Dumont</td><td>Registration</td></tr>
<tr><td>Lori Leduc</td><td>Volunteer Coordinator, Friday Night Entertainment</td></tr>
<tr><td>Shelley Musfelt</td><td>Welcoming Committee</td></tr>
</table>

<p class=maintext>We are currently recruiting for the following roles.  If you’re interested, please check out the <% link_to "Volunteer", volunteers_path %> section of this website.
<ul>
<li>Sponsorship</li> 
<li>Hospitality Suite</li>
<li>Scheduler / Planner (Minute by Minute)</li>
<li>Treasurer</li>
</ul>
