<br><h1>Program</h1>
 
<p class="maintext">There’s something for everyone at this year’s Convention – from action-provoking keynote presentations, to new thinking in leadership, to brilliant competitions and ample networking opportunities.  The D42 2012 Spring Convention will provide you with the opportunity to gain knowledge from leading-edge speakers, in a local and cost-effective way.</p>
 
<h2>World-Class Keynote</h2>
 
<p class="maintext">We’re thrilled to be able to offer you an opportunity to learn from one of our own.  <a href="http://www.marketbeamer.com/" target="_blank" class="bodytext">David Benjatschek</a> is a past-toastmaster gone large – and we don’t mean in the physical sense!  His leadership concepts are sought after internationally.  As a published author and well-travelled speaker, he’s sure to encourage, inspire, and motivate you.  David will launch our Convention Friday night, speak to us at two different intervals on Saturday and then wrap things up Sunday morning.</p>

<h2>Education Sessions</h2>

<p class="maintext">We are currently recruiting for two educational speaker spots.  If you are or have been a Toastmaster and have something worthwhile to share in forwarding our leadership thinking and practice, whether it’s within  the Toastmasters framework or not, please <a href="mailto:ContactUs@D42TakeTheLead.ca?subject=Education Session Proposal" class=bodytext>send us a proposal</a> describing how your presentation will help us Take the Lead in May 2012.</p>

<h2>Competitions</h2>

<p class="maintext">The Spring Convention has the delightful honour of bringing to you the Evaluation and International Speech competitions.  Each spring, 13,000 Toastmasters clubs in 116 countries hold Evaluation and International Speech competitions at the club, area and division levels.  The best speakers to advance through all three levels then come together at a District level Competition.</p> 

<p class="maintext">The winner of our D42 International Speech competition will advance with our heart-felt support to the semi-finals on the world stage in Orlando, Florida.  The winner in the final heat of competition there will be crowned with the coveted title of <a href="http://www.toastmasters.org/Members/MemberExperience/Contests/2011InternationalSpeechContestWinners.aspx" target="_blank" class="bodytext">World Champion of Public Speaking</a>.  The winner of our Evaluation competition will be presented with a D42 trophy and a hearty congratulations for being the best Evaluator in District 42.</p>

<p class="maintext">Join us for what promises to be an exciting two days of competition!</p>

