<br><h1>Registration</h1>
<p class=maintext>Have we got a deal for you!  If you’re planning to attend the D42 2011 Fall Conference in Lethbridge you can register early.  We’ll have forms for you to complete there and you’ll be able to pay in person by debit or credit card.  And the added bonus?  We’ll enter your name into a draw for a chance to win back your registration!  </p>

<p class=maintext>Registration for everyone else opens November 15, 2011 and closes April 30, 2012 or until we sell out, whichever comes first.  We’re using a graduated pay system this time though so the earlier you enter, the lower the cost.</p>

<h2>Price Schedule</h2>
<table style="width: 65%; border-color: #000000; border-width: 0pt; border-style: solid;" border="0">
<col style="width: 20%" />
<col style="width: 22%" />
<col style="width: 10%" />
<col style="width: 48%" />
<tbody>
<tr>
<td>Special Draw<strong><strong><br /></strong></strong></td>
<td><strong><strong></strong></strong>Nov 6</td>
<td><strong></strong>$220 </td>
<td>Limited registration in Lethbridge</td>
</tr>
<tr>
<td><strong></strong>Early Bird</td>
<td>Nov 15 - Jan 31</td>
<td>$220</td>
<td>Early bird pricing for everyone and always for first timers, District Officers, and contestants</td>
</tr>
<tr>
<td>Regular</td>
<td>Feb 1 - Mar 31</td>
<td>$250</td>
<td>First price increase</td>
</tr>
<tr>
<td>Just In Time</td>
<td>Apr 1 - Apr 30</td>
<td>$275</td>
<td>Last price increase</td>
</tr>
<tr>
<td>Missed Out</td>
<td>May 1 - 4</td>
<td>n/a</td>
<td>Sorry &ndash; registration is closed</td>
</tr>
</tbody>
</table>

<h2>Payment Options</h2>
<p class=maintext>When in Lethbridge at the D42 2011 Fall Conference, you can pay by debit or credit card.  After that, we’ll be accepting credit card via the online registration form or paper form with cheque mailed to the surface mail address found on the <%= link_to "Contact Us", contact_us_path, :class => "bodytext" %> page.  Credit cards we accept include VISA and Mastercard.</p>

<h2>Admission to Convention Events</h2>
<p class=maintext>The ID badge you receive at check in your first day of the Convention will give you full admission to all of the weekend’s events.  Be sure to bring it with your everywhere that weekend for admission to the competitions, meals, keynotes, and education sessions.</p>

<h2>Changes to Registration</h2>
<p class=maintext>Should you need to change an education session you selected during registration, don’t  worry.  We’ll be able to accommodate you once you're onsite at the Convention.</p>

<h2>Need Help?</h2>
<p class=maintext>Email us at <a href="mailto:ContactUs@D42TakeTheLead.ca?subject=Contact from the D42 Fall Conference Website" class=bodytext>ContactUs@D42TakeTheLead.ca</a> and we’ll be happy to respond to your email within 2 business days.</p>
