<br><h1>Program Schedule</h1>
 
<p class="maintext">It’s early days for our Convention and as such we have yet to confirm the schedule for our Convention.  Suffice it to say, we know now that the following activities will occur at some point on the following days.  More information will appear here in the website as details are confirmed.</p>  

<h2>Friday – May 4, 2012</h2> 
 
<p class="maintext">The convention opens with registration, a keynote by <a href="http://www.marketbeamer.com/" target="_blank" class="bodytext">David Benjatschek</a>, cocktails and appetizers, and a fun networking event to recharge old friendships and establish new ones.  The Hospitality Suite will also kick off tonight at 10:00 PM.</p>

<h2>Saturday – May 5, 2012</h2>

<p class="maintext">The following activities and more will take place today:</p>

<ul class=mainlist>
<li>Keynote presentation by <a href="http://www.marketbeamer.com/" target="_blank" class="bodytext">David Benjatschek</a></li>
<li>2-3 educational sessions</li>
<li>International Speech Competition</li>
<li>District 42 Business Meeting</li>
</ul>

<p class="maintext">And let’s not forget the dinner/dance and that the Hospitality Suite will be in full swing from 10:00 PM – 1:00 AM!</p>

<h2>Sunday – May 6, 2012</h2>

<p class="maintext">Highlights of our partial day Sunday include:</p>

<ul class=mainlist>
<li>Evaluation competition</li>
<li>Closing keynote with <a href="http://www.marketbeamer.com/" target="_blank" class="bodytext">David Benjatschek</a></li>
<li>Fond farewells</li>
</ul>
	

