<br><h1>Program Speakers</h1>
 
<p class="maintext">We are extremely happy to announce that <a href="http://www.marketbeamer.com/" target="_blank" class="bodytext">David Benjatschek</a> will be our main keynote! As we move into 2012, we’ll announce our educational session speakers.</p>

<h2>David Benjatschek – Your Man with the Plan</h2> 
 
<p class="maintext">David is thrilled to be working with our Planning Committee and we’re just as excited about working with him.  David sees this Convention as an opportunity for him to give back to the community that helped to launch his professional speaking career.   Joins May 4, 5, and 6 when David will share with us how to become more effective leaders regardless of where and when we apply those leadership skills.</p>

