<br><h1>Sponsors</h1>

<p class="maintext">The D42 2012 Fall Convention is an excellent sponsorship investment opportunity for companies who want to demonstrate their commitment to the development of their employees, for organizations who would like exposure to people from all walks of life, and for individuals who want to give back to the Toastmasters community.</p>
 
<p class="maintext">We recognize that your interest in sponsoring our event may be driven by different marketing, HR or personal needs, including:</p>

<ul class=mainlist>
<li>getting involved and showing support for the Toastmasters community</li>
<li>increasing your brand loyalty</li>
<li>creating awareness in the Toastmasters market</li>
<li>showcasing your products/services</li>
<li>driving sales</li>
<li>hosting clients</li>
<li>demonstrating your commitment to developing your employees</li>
<li>positioning yourself as an employer or service provider of choice</li>
<li>recruitment and retention opportunities</li>
</ul>

<p class="maintext">We have many sponsorship options available to help you achieve any of these goals and we welcome the opportunity to discuss potential sponsorship with you. Our benefit packages can be customized to meet your specific goals, objectives, and sponsorship preferences.</p>
 
<p class="maintext">To find out more about sponsorship opportunities at the D42 2012 Fall Convention, please send an email to <a href="mailto:ContactUs@D42TakeTheLead.ca" class=bodytext>ContactUs@D42TaketheLead.ca</a> and we’ll respond within 2 business days.</p> 
 
<p class="maintext">We look forward to working with you!</p>
