<br><h1>Registration – Terms and Conditions</h1>
<p class=maintext>Each Convention attendee must display a valid badge while attending sessions or events. These badges are your ticket of admission for meals, competitions and all other speaking events.</p>

<h2>Educational Sessions</h2>
<p class=maintext>Each educational session requires separate registration. This is so we can have an accurate count to ensure adequate seating and to allow our speakers to prepare for the right audience size.</p>


<h2>Included with each Convention Registration</h2>
<ul class=mainlist>
<li>Networking event Friday</li>
<li>Keynote sessions Friday, Saturday and Sunday</li>
<li>Education sessions Saturday</li>
<li>Competitions Saturday and Sunday</li>
<li>Business meetings Saturday and Sunday</li>
<li>Hospitality suite admission Friday and Saturday evening</li>
<li>5 meals including 2 evening, 2 breakfast, and 1 lunch meals, and beverages/snacks</li>
<li>And ample time to socialize and reconnecty</li>
</ul>

<h2>Cancellation Policy</h2>
<p class=maintext>Cancellation requests will be accepted until March 31, 2012.  To cancel your registration, send a written request to the Convention surface mail address and we’ll be more than happy to issue you a refund less a $25 processing fee when the Convention is over.  We regret that because of commitments made for our venue, we will not be able to issue any refunds after March 31.</p>

