<br><h1>Venue</h1>

<p class="maintext">The D42 2012 Spring Convention will be held at the Radisson Hotel Calgary Airport.  The hotel is both our venue and preferred host hotel.</p>
 
<p class="addr">Radisson Hotel Calgary Airport<br>
2120 16th Avenue NE<br>
Calgary, AB T2E 1L4<br>
403-291-4666 or 1-800-395-7046</p>

<p class="maintext">Only nine minutes from both the Calgary International Airport and the city's downtown, the Radisson Hotel offers convenient access to shopping, entertainment and business districts.  Amenities include high-speed internet, pool, fitness centre, free airport shuttle, suites, ample parking and an allowance for pets.  For more information about our partner hotel, please visit the <a href="http://www.radisson.com/calgary-hotel-ab-t2e1l4/abcalair" target="_blank" class="bodytext">Radisson Hotel Calgary Airport</a> website.</p>

<h2>Rates and Bookings</h2>

<p class="maintext">The Convention Planning Committee has negotiated special rates for Convention attendees as follows:</p>

<table style="width: 65%; border-color: #a9b2b1; border-width: 0pt; border-style: none;" border="0">
<col style="width: 60%" />
<col style="width: 40%" />
<tbody>
<tr>
<td>Early Bird Rate – Nov 6, 2011 – Mar 4, 2012</td>
<td>$125 per night</td>
</tr>
<tr>
<td>Group Rate – Mar 5 – Apr  4, 2012</td>
<td>$135 per night</td>
</tr>
<tr>
<td>Missed Out Rate – Apr 5 – May 5, 2012</td>
<td>General sale rate at the time</td>
</tr>
</tbody>
</table>

<p class="maintext">Things to keep in mind when booking your reservation:</p>


<ul class=mainlist>
<li>To take advantage of the negotiated rates, you must make your reservation through the Radisson Hotel Calgary Airport’s direct line (403-291-4666) or via the Radisson’s general reservation number (1-800-395-7046)</li>
<li>Make sure you let the registration agent know you need the <i>Toastmasters International District 42 Spring Convention</i> group rate to receive the our Convention room pricing.</li>
<li>The negotiated rate is the same whether you’re booking single or double occupancy.  An additional charge will apply if you add a 3rd or 4th person to your room.</li>
<li>There is an additional charge for taking advantage of a pet stay and your room will be on the first floor of the hotel.</li>
<li>All rates are subject to Destination Marketing Fee (3%), Alberta Tourism Levy (4%) and GST (5%).</li>
<li>Check In is 3:00 PM and Check Out is 12:00 noon.</li>
<li>The Radisson Hotel Calgary Airport is a non-smoking facility.</li>
</ul>

