<br><h1>Volunteers</h1>
<p class=maintext>The theme for this year’s Convention is <i>Take the Lead</i> and there’s no better way to live the Convention theme than to take an active role volunteering to make the event a success!

<p class=maintext>Many hands make light work and never has this been as well demonstrated as by the Toastmasters who are contributing to this Convention.   

<h2>Benefits of Volunteering</h2>
<ul class=mainlist>
<li>Learn firsthand how rewarding it is to work behind-the-scene at a Toastmasters' Convention</li>
<li>Develop your leadership skills by providing your ideas and influence</li>
<li>Meet other fellow Toastmasters you might not have had a chance to meet without this opportunity</li>
<li>Some of our volunteer roles actually let you take credit for your contributions in your Competent Leader (CL) manual</li>
<li>Take advantage of early-bird pricing right up until April 30 when registration closes (although we don't recommend you wait this long as we plan to sell out before then)</li>
</ul>

<h2>Sign Me Up!</h2>
<p class=maintext>Interested in joining our fun, dynamic team of Convention volunteers?  Check out the roles we’re recruiting for on the <%= link_to "Volunteer Application", application_path, :class => "bodytext" %> page then pop us an email at <a href="mailto:ContactUs@D42TakeTheLead.ca?subject=YES! I want to volunteer!" class=bodytext>ContactUs@D42TakeTheLead.ca</a> to let us know what appeals to you.  We’ll be in touch within 2 business days.</p>

